<div>
  <% comments.each do |comment| %>
    <tr>
      <div class="post">
        <h1><td><%= link_to comment.user.email, user_profile_path(comment.user) %></td></h1>
        <h2><td><%= comment.body %></td></h2>
        <% if comment.content.attached? %>
          <% if comment.content.representable? %>
            <td><%= image_tag url_for(comment.content), height: 200, width: 200%></td>
          <%else%>
            <%= link_to rails_blob_path(comment.content, disposition: "attachment") do %>
              <%= image_tag("file_download.png", alt: "Download file", height: 50, width: 50)%>
            <% end %>
          <% end %>
        <% end %>
        <h3><td><%= comment.updated_at %></td></h3>
        <% if current_user.liked? comment %>
          <%= link_to dislike_post_comment_path(post_id: @post.id, id: comment.id), method: :put do %>
            <%= image_tag("like.png", :alt => "Like", height: 18, width: 20) %>
            <%= comment.get_likes.size %>
          <% end %>
        <% else %>
          <%= link_to like_post_comment_path(post_id: @post.id, id: comment.id), method: :put do %>
            <%= image_tag("dislike.png", :alt => "Like", height: 18, width: 20) %>
            <%= comment.get_likes.size %>
          <% end %>
        <% end %>
        <% if current_user == comment.user %>
          <%= link_to "Edit", edit_post_comment_path(post_id: @post.id, id: comment.id), class: "twitter-button"%>
          <%= link_to "Delete", post_comment_path(post_id: @post.id, id: comment.id), confirm: "Are you sure?", method: :delete, class: "twitter-button"%>
        <% end %>
      </div>
    </tr>
    <br>
  <% end %>
</div>